<h1>Cabecera</h1>
<h2>Subtitulo</h2>
<div class="rutas">
  <a [routerLink]="['/sobre']" routerLinkActive="activa" >Sobre Mi</a>
  <a [routerLink]="['/Informacion']" routerLinkActive="activa">Informacion de la pagina</a>
  <a [routerLink]="['/contacto']" routerLinkActive="activa">Contacta con nosotros</a>
</div>
<router-outlet></router-outlet>
<div class="botones">
  <button (click)="onClick('sobre')">Sobre Mi</button>
  <button (click)="onClick('Informacion')">Informacion de la pagina</button>
  <button (click)="onClick('contacto')">Contacta con nosotros</button>
</div>
